.body-reset {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .user-img {
      width: 700px;
      height: 896.137px;
      flex-shrink: 0;
      margin-top: 130px;
    }
    
    .heading {
      color: #0C1421;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 40px */
      letter-spacing: 0.4px;
      margin-left: 102px;
      margin-top: 194px;
    }
    
    .heading-2 {
      color: #636364;
      font-size: 18.667px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.56px;
      margin-left: 102px;
      margin-top: 21px;
    }
    
    .form-style {
      padding-top: 10px;
      font-size: 14px;
      margin-top: 59px;
      margin-left: 102px;
    }
    
    .login-form {
      width: 418.623px !important;
      height: 55.082px !important;
      flex-shrink: 0;
      border-radius: 16px !important;
      border: 1.333px solid rgba(0, 0, 0, 0.25) !important;
      background: rgba(196, 196, 196, 0.00) !important;
      box-shadow: 0px 5.333px 13.333px 0px rgba(0, 0, 0, 0.25) !important;
    }
    
    .form-input-style {
      width: 418.623px !important;
      height: 55.082px !important;
      border-radius: 16px !important;
      border: 2px solid rgba(0, 0, 0, 0.25) !important;
      background: rgba(196, 196, 196, 0.00) !important;
      box-shadow: 0px 5.333px 13.333px 0px rgba(0, 0, 0, 0.25) !important;
      border-radius: 10px;
      margin-bottom: 25px;
      color: #636364;
      font-size: 18.667px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.56px;
      padding-left: 23px;
    }
    
    .focus-style input[type="email"]:focus,
  .focus-style input[type="password"]:focus {
      outline: none;
      border: none;
      background: #1a2226;
      margin-bottom: 20px;
    }
    
    .card-title {
      font-weight: 900;
      padding-top: 20px;
    }
    
    .reset-password-btn {
        width: 418.623px;
        height: 65.607px;
        flex-shrink: 0;
        border-radius: 16px !important;
        background: #ED5F78 !important;
        text-decoration: none !important;
        outline: none !important;
        color: #FFF !important;
        text-align: center;
        font-size: 18.667px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.56px;
        /* margin-top: 198px;
        margin-bottom: 26px; */
      }
    
    
    /* .span-style span {
      margin-left: 17px;
    } */
    
    .sign-up {
      color: #595959;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.4px;
      margin-top: 1px;
      margin-left: 65px !important;
    }
    
    .sign-up-link {
      color: #ED5F78!important;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.4px;
      text-decoration: none;
    
    }
    
    .email {
      margin-top: 8px;
      color: #000;
      font-size: 18.667px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.56px;
    }
    
    .password {
      margin-top: 8px;
      color: #000;
      font-size: 18.667px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.56px;
    }
    
    
    /*BREAKPOINTS*/
    
    @media (max-width: 1200px) {
      .user-img {
        margin-left: 80px;
        }
    
        .form-input-style input[type="email"],
        .form-input-style input[type="password"] {
          width: 395px !important;
      }
    
      .sign-up-btn {
          width: 400px;
      }
    
      .heading-2 {
        font-size: 16px
      }

      .reset-password-btn {
        width: 480px;
    }
    }
    
    @media (max-width: 991px) {
    
    }
    
    @media (max-width: 768px) {
    
    }
    
    @media (max-width: 617px) {
      .heading {
        font-size: 32px;
       }
      
       .body-content {
        margin-left: -50px;
       }
      
       .heading-2 {
        font-size: 16px
       }
      
       .form-input-style input[type="email"],
       .form-input-style input[type="password"] {
          width: 395px !important;
        }
      
        .forgot-password {
          font-size: 14px !important;
          margin-left: -29px !important;
          margin-right: -40px !important;
        
        }
      
        .sign-up-btn {
          width: 400px;
        }
      
        .sign-up-google {
          width: 400px;
        }
      
        .user-img {
          width: 560px;
          height: 700.137px;
        }

        .reset-password-btn {
            width: 400px;
          }
        
      
        .sign-up {
          font-size: 15px;
        }
      
    }
    /* /*@media (max-width: 450px) {
      body {
        background-color: red;
      }
    } */